{% extends "base.html" %} {% block title %}User Form{% endblock %} {% block
content %}

<!-- <form action="/hello" method="get" class="user-form">  -->
<form action="/hello" method="post" class="user-form">
  <div class="form-group">
    <input
      type="text"
      name="name"
      id="name"
      autocomplete="off"
      autofocus
      required
      placeholder="Enter your name"
    />
  </div>
  <div class="form-group">
    <input
      type="number"
      name="age"
      id="age"
      min="0"
      max="150"
      autocomplete="off"
      required
      placeholder="Enter your age"
    />
  </div>
  <button type="submit" class="submit-btn">Submit</button>
</form>

{% endblock %}
